<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>

</head>
<!--/head-->

<body>
    <section id="form">
        <div class="col-sm-4">
            <div class="signup-form">
                <!--sign up form-->
                <h2>Añadir Producto</h2>
                <form name="registroUsuario" ng-submit="addUser(newUser)">
                    <input type="text" placeholder="Nombre" ng-model="newUser.username" />
                    <div ng-show="valido"><font color="red">El usuario ya existe</font>
                    </div>
                    <input type="password" placeholder="Contraseña" ng-model="newUser.password" />
                    <button type="submit" ng-disabled="!registroUsuario.$valid" class="btn btn-default">Registrarse</button>
                </form>
            </div>
            <!--/sign up form-->
        </div>
    </section>
</body>

</html>
