<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
</head>
<!--/head-->

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Productos</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--categoria-->
                            <div class="panel panel-default">
                                <!-- <div class="panel-heading" ng-controller="categoriasCtrl">
                                    <h4 class="panel-title"><a ng-repeat="cat in categorias" href="#">{{cat.nombre}}</a></h4>
                                </div>-->
                            </div>

                        </div>
                        <!--/categoria-->
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr ng-repeat="item in productos.items | filter:filtrado">
                            <td>
                                <img src="{{item.imagen}}" height="125" width="125">
                            </td>
                            <td>{{item.precio}}€</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </section>



</body>

</html>
