<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>

</head>
<!--/head-->

<body>
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Iniciar sesión</h2>
                        <form name="InicioSesion">
                            <fieldset>
                                <input type="text" placeholder="Nombre" id="usuario" ng-model="username" />
                                <input type="password" placeholder="Contraseña" id="password" ng-model="password" />
                                <button type="submit" ng-disabled="!InicioSesion.$valid" ng-click="login(username)" class="btn btn-default">Iniciar sesión</button>
                            </fieldset>
                        </form>
                    </div>
                    <!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">O</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>Nuevo usuario Registrate!</h2>
                        <form name="registroUsuario" ng-submit="addUser(usernameR)">
                            <input type="text" placeholder="Nombre" ng-model="usernameR" />
                            <input type="email" placeholder="Email" ng-model="email" />
                            <input type="password" placeholder="Contraseña" ng-model="passwordR" />
                            <button type="submit" ng-disabled="!registroUsuario.$valid" class="btn btn-default">Registrarse</button>
                        </form>
                    </div>
                    <!--/sign up form-->
                </div>
            </div>
        </div>
    </section>
    <!--/form-->


</body>

</html>
