<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Privacidad | Nautica</title>

</head>

<body>
    <div class="row">
        <div class="container">
            En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, le informamos que los datos personales que nos suministre a través del portal www.nnauticabarata.com, vía telefónica, o por correo electrónico serán tratados de forma confidencial y pasarán a formar parte de un fichero titularidad de ASTILLEROS DE CASTELLÓN S.L. que ha sido debidamente inscrito en la Agencia Española de Protección de Datos (www.agpd.es). Sus datos personales serán utilizados para atender su petición de información, la gestión y prestación de los servicios ofrecidos por ASTILLEROS DE CASTELLON S.L, y para el envío de futuras comunicaciones comerciales que pudieran ser de su interés.
            <br>
            <br>Asimismo, le informamos que puede ejercitar sus derechos de acceso, rectificación, cancelación y oposición con arreglo a lo previsto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, enviando desde la dirección en la que Vd. se registró un correo electrónico a info@nauticabarata.com.
            <br>
            <br>Los datos solicitados al Usuario mediante formularios indicados con un asterisco (*) serán los estrictamente necesarios para poder proporcionarle el servicio o para poder ponerse en contacto con el Usuario. En ningún caso, el hecho de no proporcionar más datos que los estrictamente necesarios supondrá una merma en la calidad del servicio.
            <br>
            <br>El Usuario garantiza que los datos personales facilitados son veraces y se hace responsable de comunicar cualquier modificación en los mismos. El Usuario será el único responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar a ASTILLEROS DE CASTELLON S.L. o a cualquier tercero, a causa de la cumplimentación de los formularios con datos falsos, inexactos, incompletos o no actualizados. En el caso de que el Usuario incluya datos de carácter personal de terceros deberá, con carácter previo a su inclusión, informarles de lo establecido en la presente política de privacidad, siendo el único responsable de su inclusión.
            <br>
            <br>En este sitio web, los datos se recopilan y almacenan de forma anónima para fines de marketing y optimización mediante la tecnología de (www.etracker.de). A continuación, se crean los perfiles de uso a partir de estos datos utilizando un seudónimo. Para este fin, pueden utilizarse las cookies, que recopilan y almacenan los datos de forma anónima. Los datos no se utilizan para identificar al usuario de este sitio web de forma personal ni se combinan con datos personales. Es posible revocar el consentimiento para recopilar y almacenar datos personales en cualquier momento y para siempre.
            <br>
            <br>
        </div>
    </div>


</body>

</html>
