<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Details | E-Shopper</title>

</head>
<!--/head-->

<body ng-controller="cartCtlr">
<ngcart-summary></ngcart-summary>

    <section>
        <div class="container">
            <div class="row">
                 <div class="col-sm-3" ng-controller="categoriasCtrl">
                    <div class="left-sidebar">
                        <h2>Categorias</h2>
                        <div class="panel-group category-products" id="accordian">
                            <!--categoria-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a ng-repeat="cat in categorias" href="#">{{cat.nombre}}</a></h4>
                                </div>
                            </div>

                        </div>
                        <!--/categoria-->
                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">

                                <!--sacar imagen de la bd-->
                                <img src="assets/images/product-details/1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="product-information">

                                <!--/product-information-->
                                <!--sacar info de la base de datos-->
                                <img src="assets/images/product-details/new.jpg" class="newarrival" alt="" />
                                <h2>Anne Klein Sleeveless Colorblock Scuba</h2>
                                <p>Web ID: 1089772</p>
                                <img src="assets/images/product-details/rating.png" alt="" />
                                <span>
									<span> $59</span>
                                <label>Cantidad:</label>
                                <input type="text" value="3" />
                                <ngcart-addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}" data="item"><i class="fa fa-shopping-cart"></i> Añadir al carrito</ngcart-addtocart>
                                </span>
                                <p><b>Availability:</b> In Stock</p>
                                <p><b>Condition:</b> New</p>
                                <p><b>Brand:</b> E-SHOPPER</p>
                                <a href="">
                                    <img src="assets/images/product-details/share.png" class="share img-responsive" alt="" />
                                </a>
                            </div>
                            <!--/product-information-->
                        </div>
                    </div>
                    <!--/product-details-->



                     <div class="recommended_items">
                        <!--productos recomendados-->
                        <h2 class="title text-center">productos recomendados</h2>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center" >
                                       <!--
                                        SACAR RECOMENDADOS DE LA BASE DE DATOS-->
                                        <img src="assets/images/home/recommend1.jpg" alt="" />
                                        <h2>$56</h2>
                                        <p>Easy Polo Black Edition</p>
                                         <ngcart-addtocart id="" name="" price="" quantity=""> <i class="fa fa-shopping-cart"></i>Añadir al carrito</ngcart-addtocart>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/recommended_items-->

                </div>
            </div>
        </div>
    </section>



</body>

</html>
